/*通用类*/

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-size: 14px;
    background: url(../images/13.jpg) no-repeat fixed;
    background-size: 100% 100%;
    color: #333;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    border: none;
}

a {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    outline: none;
}

ul {
    list-style-type: none;
}

em {
    font-style: normal;
}

.lt {
    float: left;
}

.rt {
    float: right;
}

div.clear {
    font: 0px Arial;
    line-height: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.nav{ }

/*wrapin 主体容器宽度*/

.wrapin {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -49px;
    margin-bottom: 110px;
}

header {
    height: 50px;
    background: #fff;

}

.nav li {
    background:#336699;
    line-height: 50px;
    float: left;
    width: 25%;
    text-align: center;
    font-size: 19px;
}

.nav li a {
    color: #fff;
}

.banner {
    display: block;
}

.banner img {
    width: 100%;
    display: block;
}

.banner {
    width: 100%;
    height: 560px;
    overflow: hidden;
    position: relative;
}

.con {
    padding: 15px;
    background: rgb(233, 249, 250);
}

.top .text {
    float: left;
    width: 60%;
    line-height: 26px;
}

.top .pic {
    float: right;
    width: 38%;
    margin-top: 20px;
}

.top .texts {
    float: left;
    width: 38%;
    line-height: 26px;
}

.top .pics {
    float: right;
    width: 60%;
    margin-top: 20px;
}

.top .pic img {
    width: 100%;
}

.top .texts img {
    width: 100%;
}

.title {
    padding: 20px 0;
}

.title h2 {
    font-size: 20px;
    color: #333;
}

.tupian ul {
    margin: 0 -15px;
}

.tupian ul li {
    width: 29.33%;
    float: left;
    padding: 0;
	margin:2%;
    box-sizing: border-box;
	overflow: hidden;
}

.tupian ul li img {
    width: 100%;
	transition: all 0.6s;
    height: 200px;
	display:block;
    object-fit: cover;
}
.tupian ul li:hover img{
transform: scale(1.4);
}
.pinglun {
    line-height: 26px;
    color: #333;
    font-size: 14px;
    padding-bottom: 30px;
}

footer {
    background: #282828;
    text-align: center;
    color: #fff;
    line-height: 50px;
}
