@import url("style2.css");
@-webkit-keyframes appear{
	from{
		opacity: 0;
		}
	to 	{
		opacity: 1;
	}
}

@-webkit-keyframes headline_appear_animation{
	from{
		opacity: 0;
	}
	25% {
		opacity: 0;
	}	
	to 	{
		opacity: 1;
	}
}

@-webkit-keyframes contentappear{
	from {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		-webkit-transform:  scale(0.5);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@-moz-keyframes appear{
	from{
		opacity: 0;
		}
	to 	{
		opacity: 1;
	}
}

@-moz-keyframes headline_appear_animation{
	from{
		opacity: 0;
	}
	25% {
		opacity: 0;
	}	
	to 	{
		opacity: 1;
	}
}

@-moz-keyframes contentappear{
	from {
		-moz-transform: scale(0);
		opacity: 0;
	}
	50% {
		-moz-transform:  scale(0.5);
		opacity: 0;
	}
	to {
		-moz-transform: scale(1);
		opacity: 1;
	}
}

* {
	margin: 0;
	padding: 0;
}

/*################ Sliding and appearing animation for the 404 page. Works in webkit browsers and mozilla firefox.*/

a:active{
	position: relative;
	top: 1px;
}

html{
	background: url("backgrounds/background-3.jpg")no-repeat center center fixed;
	/*Image for the full size image background. If you want to have a color as a background, just remove the complete html{} style and uncomment the last line in the body{}*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*CSS3 for the fullscreen image background*/
}

body{
	font-family: 'Helvetica Neue';
	width: auto;
	margin: 0 auto 100px auto;
/*	background: #C9D0F5 /*373A4D*!/;*/
}

p.error {
    color: #000;
    text-shadow: #fff 0 1px 0;
    text-align: center;
    font: 900 10em helvetica neue;
    -webkit-animation: 2s headline_appear_animation;
    -moz-animation: 2s headline_appear_animation;
}

.content {
    margin: auto;
    padding: 30px 40px 40px 40px;
    width: 570px;
    color: #030303;
    -webkit-animation: 2s contentappear;
    -moz-animation: 2s contentappear;
    background-image: -moz-linear-gradient(90deg,rgba(217,236,241,0.70) 0%,rgba(173,218,232,0.76) 93.26%,rgba(178,237,234,1.00) 100%);
    background-image: -o-linear-gradient(90deg,rgba(217,236,241,0.70) 0%,rgba(173,218,232,0.76) 93.26%,rgba(178,237,234,1.00) 100%);
    background-image: -webkit-linear-gradient(90deg,rgba(217,236,241,0.70) 0%,rgba(173,218,232,0.76) 93.26%,rgba(178,237,234,1.00) 100%);
    background-image: linear-gradient(0deg,rgba(217,236,241,0.70) 0%,rgba(173,218,232,0.76) 93.26%,rgba(178,237,234,1.00) 100%);
    border: 1px solid #6BACAD;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.4),0 3px 8px #000000;
    border-radius: 6px;
    font: 16px;
    line-height: 25px;
    font-weight: 300;
    text-shadow: #000 0 1px 0;
    -webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.4),0 3px 8px #000000;
}

.content h2{
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 20px;
}

form {
	height: 40px;
}

.inputform {
	font: 12px;
	border: none;
	padding: 10px;
	width: 300px;
	margin: 15px 0 0 75px;
}

.button {
	width: 100px;
	margin-top: 1px;
	height: 33px;
	border: none;
	
	text-shadow: #fff  0 1px 0;
	background-image: -moz-linear-gradient(top, #ffffff, #aaa);
	background-image: -o-linear-gradient(top, #ffffff, #aaa);
	background-image: -webkit-linear-gradient(top, #ffffff, #aaa);
	background-image: linear-gradient(top, #ffffff, #aaa);
	box-shadow: inset 0px 1px rgba(255, 255, 255, 1);
}

.button:hover {
	background-image: -moz-linear-gradient(top, #ffffff, #ccc);
	background-image: -o-linear-gradient(top, #ffffff, #ccc);
	background-image: -webkit-linear-gradient(top, #ffffff, #ccc);
	background-image: linear-gradient(top, #ffffff, #ccc);
	cursor: pointer;
}

.button:active {
	background-image: -moz-linear-gradient(top, #ccc, #fff);
	background-image: -o-linear-gradient(top, #ccc, #fff);
	background-image: -webkit-linear-gradient(top, #ccc, #fff);
	background-image: linear-gradient(top, #ccc, #fff);
}

p.links {
	margin: 24px 0 0 0;
	text-align: center;
}

p.links a {
    color: #000000;
    margin-left: 15px;
    margin-right: 15px;
}

p.links a:hover {
    text-decoration: none;
    text-shadow: 0 0 5px #BDF0F3;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
}
